.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;
}

.span-120 { width: 120% !important }
.span-200 { width: 200% !important }

.move-right-50 { right: -50px !important }

tr:nth-child(even) {
  background-color: #dbdbdb;
}